/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Material Icons';
    src: url('https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}



html, body {
    background-color: #FFF;
    margin: 0;
    height: 100%;
}

header{
    color: white;
    font-size: 16px;
    font-weight: 400;
}

nav{
    background-color: #273746;
    width: 100%;
    
}
nav.button{
    background-color: #273746;
    color:#FFF
    display: flex;
    justify-content: space-between;
}

.btn1{


}

/* 
nav{
    background-color: #273746;
    height: 55px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-left{
    display: flex;
    align-items: center;
    gap: 5%;
}

.logo-britanica{
    width: 20%;
}
  
.navbar-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
    padding-right: 0;
    margin: 0;
}



nav li{
    list-style-type: none;
    display: flex;
    align-items: center;
}

li button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 5px 15px;
    background-color: #bb2337;
    color: #fff;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
}    

.login-form a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    
}

nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}


nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.breadcrumbs {
    background: white;
    color: darkblue;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.breadcrumbs ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

.breadcrumbs ul li {
    display: flex;
    align-items: center;
    position: relative;
}

.breadcrumbs ul li a {
    color: darkblue;
    text-decoration: none;
    margin-right: 1em;
}

.breadcrumbs ul li::after {
    content: ">";
    color: darkblue;
    margin-left: 1em;
}

.breadcrumbs ul li:last-child::after {
    content: "";
}

main .container {
    margin-top: 2em;
    width: 45vw;
    margin-top: 1em;
    background: #fff;
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    margin: 3% 0 3% 3%;
    padding: 1em;
    max-width: 1200px;
}

article{
    margin-top: 2em;
    border: solid 1px grey;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 18px;
}


section {
    flex: 3;
    padding: 1em;
}

.caption-info-article {
    color: grey;
    font-style: italic;
    font-size: 14px;
}

.caption-info-article a{
    text-decoration: none;
}



.caption-info-article ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



aside{
    width: 15vw;
    justify-content: flex;
    background: #fff;
    display: flex;
    flex-direction: column;
    border: solid 1px grey;  
    padding: 1em;
}

.Tim-pic{
    margin-bottom: 10px;
}

.top-card section{
    margin-top: ;
}

*/